# Python
__pycache__/
__pycache__
*.py[cod]

# Virtualenv
venv/
.venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

src/hodes_pytomator.egg-info/
src/pytomator.egg-info/
src/pytomator/__pycache__/
venv/
.env/